@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
    --star-size: .9rem;
    --star-color: #fff;
}

.rounded-xl {
    border-radius: 1rem;
}

.stars {
    --percent: calc(var(--rating) / 10 * 100%);
    display: inline-block;
    font-size: 1.25rem;
    font-family: Times;
    line-height: 1;
}

.card {
    width: 12.5rem;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width:45rem) {
    .card {
        width: 10rem;
    }
}


.card:hover .stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #fff, var(--percent), #a0aec0 var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, #2d3748, var(--percent), #a0aec0 var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card__img {
    width: 250px;
    height: auto;
    -webkit-user-select: none;
}

.card__img--shadow::before {
    content: '';
    position: absolute;
    top: .8rem;
    left: 0;
    transform: scale(1.1);
    aspect-ratio: 2/3;
    width: 100%;
    background: var(--data-url);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    opacity: .35;
    filter: blur(10px);
    z-index: -2;
}

.card__img--loader {
    animation: progress 1.2s ease-in-out infinite;
    background-color: #eee;
    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-size: 200px 100%;
    background-repeat: no-repeat;
}

@keyframes progress {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: calc(200px + 100%) 0;
    }
}


.loader {
    position: relative;
}

.loader .card__img {
    width: 100%;
    aspect-ratio: 2 / 3;
}

.skeleton-box {
    position: relative;
    overflow: hidden;
    background-color: #e2e8f0;
}

.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    background-image: -webkit-gradient(linear,
            left top, right top,
            color-stop(0, rgba(255, 255, 255, 0)),
            color-stop(20%, rgba(255, 255, 255, 0.2)),
            color-stop(60%, rgba(255, 255, 255, 0.5)),
            to(rgba(255, 255, 255, 0)));
    background-image: -o-linear-gradient(left,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.5) 60%,
            rgba(255, 255, 255, 0));
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.5) 60%,
            rgba(255, 255, 255, 0));
    -webkit-animation: shimmer 3s infinite;
    animation: shimmer 3s infinite;
    content: '';
}

@-webkit-keyframes shimmer {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes shimmer {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}